/* src/pages/MainPage.module.css */

.container {
    width: 100%;
}

.heroSection {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.main_text {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;  /* 글씨 굵게 */
    margin-bottom: 20px;
    text-shadow: 0 2px 10px rgba(0,0,0,0.6); /* 배경이 밝을 때를 대비해 그림자 진하게 */
    line-height: 1.4;
}

.main_img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 찌그러지지 않고 꽉 차게 설정*/
    filter: brightness(0,8);/*이미지 살짝 어둡게 하기*/
}

.overlayContent {
    position: absolute; /* 둥둥 띄움 */
    top: 50%;           /* 위에서 50% 내려옴 */
    left: 50%;          /* 왼쪽에서 50% 이동 */
    transform: translate(-50%, -50%); /* 요소 크기의 절반만큼 되돌려서 '정중앙' 맞춤 */
    
    width: 100%;
    max-width: 1200px;  /* 내용이 너무 퍼지지 않게 제한 */
    text-align: center; /* 텍스트 및 검색창 가운데 정렬 */
    z-index: 10;        /* 이미지보다 위에 오도록 순서 지정 */
    padding: 0 20px;    /* 모바일에서 좌우 여백 확보 */
}